.header {
    grid-area: header;
    position: relative;
    background: #444;
    transition: 0.25s ease;
}

.headerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 1.5rem;
    background-color: #1995AD;
    width: 100%;
}

.headerLogo {
    width: 4rem;
    margin: auto 0 ;
    padding: 0.3rem;
    border-radius: 50%;

}
.loginBlock {
    margin: auto 0 ;
    padding: 0.3rem;
}

@media (prefers-reduced-motion: no-preference) {
    .headerLogo {
        animation: Header-logo-spin infinite 20s linear;
    }
}

@keyframes Header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
