.navbar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s ease;
    border-radius: 1.5rem;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}


.navbar__link {
    width: 100%;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    padding: .7rem 1rem;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .5rem 0 0 .5rem;
    box-shadow: 0 .2rem .2rem rgba(0,0,0,.4);
}

.navbar__link:hover,
.navbar__link:hover::after,
.navbar__link:focus,
.navbar__link:focus::after {
    background: #fff;
}

.navbar__link:focus {
    outline: 0;
}

.navbar__link::after {
    content:'';
    position:absolute;
    z-index: 1;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    transform: skew(10deg);
    border-radius: 0 5px 0 0;
}

.navbar__link.link__active {
    background: #fff;
    z-index: 3;
}

.navbar__link.link__active::after {
    background: #fff;
    z-index: 3;
}

