.footer {
    grid-area: footer;
    background-color: #BCBABE;
    border-radius: 1.5rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0.2rem;
    text-align: center;
    line-height: 2rem;
    font-family: Verdana, serif;
    color: #ecf0f1;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
}

.faceFront {
    background: #fff;
    border: white 0.3rem solid;
}

.faceFront img{
    width: 100%;
    height: 100%;
}

.faceBack {
    background: #1995AD;
    font-size: 0.7rem;
    transform: rotateX(180deg);
}

.card:hover .faceFront {
    transform: rotateX(-180deg);
}

.card:hover .faceBack {
    transform: rotateX(0deg);
}

.typography {

}